<section class="bg-main-light py-5">

    <div class="container">
        <h3 class="fw-bold">Get The FreshCart app</h3>
        <p>we will send you a link, open it in your phone to download our app.</p>


        <hr>

        <div class="row my-3">
            <div class="d-flex col-md-10">
                <input type="text" class="form-control" placeholder="Enter Your E-mail">

            </div>

            <div class="col-md-2">

                <button class="btn bg-main text-white mx-3 px-3">Share App Link</button>
            </div>

        </div>

        <hr>


        <div class="row my-4 ">
            <div class="col-md-6 d-flex align-items-center">
                <span class="text-capitalize fw-bold mx-4">payment Partners</span>
                <img src="assets/images/payments.png" alt="" class="img-fluid w-50">

            </div>


            <div class="col-md-6 d-flex align-items-center">

                <span class="text-capitalize fw-bold mx-4">Download Our App</span>
                <img src="assets/images/app.png" alt="" class="img-fluid w-50">
            </div>
        </div>
    </div>

</section>