<div class="container py-5">
    <div class="w-50 mx-auto my-5">
        
        <h4 class="my-4 text-center">Pay Now :</h4>

        <form [formGroup]="shippingAddress" (ngSubmit)="userOnlinePayment()">
            <div class="">
                <label for="details" class="form-label text-muted">Address:</label>
                <input formControlName="details" type="text" class="form-control mb-2" id="details"
                    placeholder="Enter Your Address">

                <div class="alert alert-danger"
                    *ngIf="shippingAddress.get('details')?.errors&&shippingAddress.get('details')?.touched">
                    <p class="m-0" *ngIf="shippingAddress.get('details')?.getError('required')">Address is required</p>

                </div>
            </div>
            <div class="">
                <label for="phone" class="form-label text-muted">Phone:</label>
                <input formControlName="phone" type="tel" class="form-control mb-2" id="phone"
                    placeholder="Enter Your Phone">

                <div class="alert alert-danger" *ngIf="shippingAddress.get('phone')?.errors&&shippingAddress.get('phone')?.touched">
                    <p class="m-0" *ngIf="shippingAddress.get('phone')?.getError('required')">Phone is required</p>
                    <p class="m-0" *ngIf="shippingAddress.get('phone')?.getError('pattern')">Please Enter a valid Phone Number
                </div>
            </div>


            <div class="">
                <label for="city" class="form-label text-muted">City:</label>
                <input formControlName="city" type="text" class="form-control mb-2" id="city"
                    placeholder="Enter Your City">

                <div class="alert alert-danger" *ngIf="shippingAddress.get('city')?.errors&&shippingAddress.get('city')?.touched">
                    <p class="m-0" *ngIf="shippingAddress.get('city')?.getError('required')">city is required</p>

                </div>
            </div>


            <button class="btn bg-main text-white my-3 d-block ms-auto" [disabled]="shippingAddress.invalid" type="submit">
                <span *ngIf="!isLoading">Check Out</span>
                <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin text-center"></i>
            </button>


        </form>
    </div>
</div>