<section *ngIf="subCategory" class="py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div>
                <h2 class="text-main text-center fw-bold" *ngIf="subCategories">{{specificCategory.name}}
                    Categories</h2>
            </div>
            <div class="col-md-4" *ngFor="let item of subCategory">
                <div class="border border-main product p-3 text-center">
                    <p class="fw-bold h3 p-3">{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
</section>