<app-home-slider></app-home-slider>
<app-main-slider></app-main-slider>
<div class="bg-main my-5 p-3 w-50 mx-auto border rounded-4">
    <div class="w-75  mx-4">
        <input type="text" class="form-control mb-2" id="text" placeholder="Search by the name of the product"
            [(ngModel)]="searchTerm">
    </div>

</div>
<div class="container">
    <div class="row gy-3" *ngIf="allProducts">
        <div class="col-md-2" *ngFor="let product of allProducts| search:searchTerm;let i = index ">
            <div class="product cursor-pointer overflow-hidden">
                <!-- <h4>{{product.title|search}}</h4> -->
                <a [routerLink]="['/productDetails',product.id]">
                    <div class="">

                        <img [src]="product.imageCover" alt="productsImg" class="w-100">
                        <span class="text-main font-sm">{{product.category.name}}</span>
                        <!-- <span *ngIf="myCategories.includes($any(product.category._id))">dasads</span> -->
                        <!-- <span class="text-main font-sm">{{product.category._id}}</span> -->
                        <h3 class="h6 fw-bold">{{product.title|seeMore:2}}</h3>
                        <div class="d-flex justify-content-between align-items-center col-md-12">
                            <div class="col-md-2">

                                <span>{{product.price}}EGP</span>
                            </div>

                            <div>
                                <div class="col-md-10 d-flex justify-content-between align-items-center">
                                    <i *ngFor="let num of [1,2,3,4,5]"
                                        [class.rating-color]="product.ratingsAverage>=num" class="fa-solid fa-star"></i>
                                    <span class="text-muted">
                                        <small>
                                            {{product.ratingsAverage}}
                                        </small>
                                    </span>
                                </div>

                            </div>
                        </div>


                    </div>
                </a>
                <div class="d-flex justify-content-between align-items-center gy-2">

                    <button class="btn text-white w-100 bg-main d-grid" (click)="addToCart(product.id)">+ ADD</button>
                    <!-- <div (click)="addToWishList(product.id,i)">

                        <i class="fa-solid fa-heart fs-2"></i>
                        <p>{{isInMyWishList}}</p>
                    </div> -->

                    <div>
                        <div (click)="addToWishList(product.id,i)">

                            <div *ngIf="!myLatestWishListIds.includes($any(product.id))">
                                <i class="fa-solid fa-heart fs-2"></i>
                            </div>
                        </div>

                        <div (click)="removeFromWishList(product.id)">
                            <div *ngIf="myLatestWishListIds.includes($any(product.id))">
                                <i class="fa-solid fa-heart fs-2 text-danger"></i>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>